<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width:device-width, initial-scale:1.0"/>
    <meta name="robots" content="index,follow"/>
    <meta name="description" content="layout"/>
    <link rel="stylesheet"   href="./style.css"/>
    <title>layout</title>
  </head>
  <body>
    <header class="navegacion">
      <figure class="logo">
        <img src="#" alt="logo" />
      </figure>
     
      <nav class="lista-nav">
        <ul>
          <li><a>Home</a></li>
          <li><a>Home</a></li>
          <li><a>Home</a></li>
          <li><a>Home</a></li>          
        </ul>
      </nav>
    </header>
    <main>
      <aside>
        <div class="anuncio">anuncio
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, quod! Animi ratione odio, necessitatibus aperiam impedit beatae iusto voluptatem ipsum, architecto possimus odit vero, eveniet repudiandae ab dolorem adipisci qui!
          Magni perferendis minus ad ullam molestias iusto nemo maiores, obcaecati dolor natus eos, ducimus nam aliquid sint corporis asperiores atque expedita quidem quibusdam doloremque debitis laboriosam! Eveniet quae sint minus.
          Nulla aspernatur quaerat beatae, hic, earum amet accusamus explicabo, ipsa doloribus similique adipisci. Quasi odit ducimus veniam tempora eveniet assumenda, a numquam aperiam provident ab, sequi vel, corrupti vero pariatur!
          Ab similique, quibusdam quaerat ratione maiores ducimus atque, molestiae vitae laborum beatae est nihil doloribus sapiente, consectetur incidunt corrupti alias? Necessitatibus blanditiis facere odio aut aspernatur repellat earum delectus at?
          Esse harum ad nobis iusto, fuga, illum dicta quod eos magni ducimus eum voluptate aspernatur, voluptas quis placeat officia cumque nostrum quae eius impedit quas. Qui doloremque ea aperiam libero!
          Provident inventore quod consequuntur molestiae tenetur blanditiis aliquam ipsa facilis, voluptas rem ratione autem itaque nam molestias. Alias odit, odio dicta libero exercitationem nemo, omnis laboriosam molestias delectus, beatae cum?
          Esse sapiente, molestiae sunt repellat quidem voluptatem aut nihil. Eligendi dignissimos suscipit eius laboriosam laborum deserunt aut, tempore commodi qui mollitia possimus ipsa enim. Accusantium at doloribus expedita corrupti totam.
          Atque vitae dolor et esse minus amet sit quidem ullam iure minima, sequi ad commodi eveniet illum deserunt nam. Iure quidem vitae voluptatum repudiandae cumque delectus maiores nisi reiciendis voluptatibus?
        </div>
        <div class="anuncio">anuncio</div>
        <div class="anuncio">anuncio</div>
        <div class="anuncio">anuncio</div>
      </aside>
      <section>principal
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas soluta, commodi laborum impedit reprehenderit nisi dicta aut repellat consequatur consectetur explicabo, officiis omnis debitis asperiores. Mollitia nobis in nam incidunt!
      </section>
    </main>
  </body>
  <footer>
    <div class="footer">
    <div class="pie">Erika Gómez</div>
    <div class="redes">
      <ul>
        <li>Facebook</li>
        <li>Twiter</li>
      </ul>
    </div>
  </div>
  </footer>
</html>